.item {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin: 0 300px 0;

}

.nameItem {
    width: 150px;
}

.cardsCount {
    width: 150px;
}

.updated {
    width: 150px;
}

.buttons {
    width: 150px;
}