.container_log{
    position: absolute;
    width: 413px;
    height: 560px;
    left: 560px;
    top: 90px;

    background: rgba(249, 249, 254, 0.6);
    /*border: 1px solid rgba(42, 2, 2, 0.9);*/
    border-radius: 8px;
    -webkit-box-shadow: -4px 5px 4px 1px rgba(157, 151, 151, 0.5);
    -moz-box-shadow: -4px 5px 4px 1px rgba(157, 151, 151, 0.5);
    box-shadow: -4px 5px 4px 1px rgba(157, 151, 151, 0.5);
}