.header {
    background-color: rgba(249, 253, 253, 0.3);
    min-height: 70px;
}
.headerContainer {
    max-width: 950px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.headerBlock {
    display: flex;
    align-items: center;
}



.itemMenu a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    margin-top: 15px;
    color: #b2b1b1;
    font-size: 16px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.itemMenu .active {
    color: #fff;
    background-color: #b2b1b1;
    border-bottom: 3px solid #e075ae;
}

/*.title {*/
/*    font-size: 20px;*/
/*}*/


.activeLink {
    color: #e075ae;
    text-decoration: none;
}

.item {
    color: #a054e7;
    text-decoration: none;
}

.item:hover {
    color: #c2a1e0;
    text-decoration: none;
    font-size: 20px;
}
