.errorBlock {
    padding-top: 22vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    font-size: 1.8em;
    font-weight: 600;
}

.errorBlock img {
    max-width: 60%;
}