.selectMainContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.selectMainContainer select {
    width: 100px;
    background-color: #1b1b1b;
    padding: .2em .5em;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.select {

}